<% include header %>
<link rel="stylesheet" href="css/abc.css" type="text/css">
<header>
    <h3 class="section-header">AKHILA GANDRA</h3>
</header>
<main>
    <article>
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h3>PERSONAL INFORMATION</h3>
                    <section>
                        <h4 id="present-section">PRESENT</h4>
                        <h5>Iam a new graduate student at Northwest Missouri State University from fall 2018 working on my Masters of Applied Computer Science.</h5>
                    </section>
                    <section>
                        <h3 id="past-section">PAST</h3>
                        <h5>Iam from Warangal(India).I recently completed my undergraduation in Electronics and Communication Engineering stream from KITSW. Basically, I am new to this computer science world where i feel like there is so much to learn to enhance my knowledge in this particular field.</h5>
                    </section>
                    <section>
                        <h4 id="Future-section">FUTURE PLAN</h4>
                        <h5>I want to see myself as a web Developer in a reputed software company.</h5>
                    </section>
                    <section>
                        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                        <h4 id="timings"></h4>Schedule</h4>
                        <ol>
                            <li>DBMS (Monday,Wednesday,Thursaday)-8:00am to 8:50am</li>
                            <li>WEB APPS (Monday,Wednesday)-11:00am to 11:50am</li>
                            <li>JAVA (Tuesday,Thursday)-8:00am to 9:15am</li>
                            <li>Network Fundamentals (Monday,Wednesday,Friday) - 1:00pm to 1:50pm</li>
                        </ol>
                    </div>
                        
                    </section>
                </div>
                <div class="col-sm-6">
                    <aside class="aside-header">Bearcat</aside>
                    <img src="images\AKKI.jpeg" class="rounded-circle" width="250" height="250">
                    

                    <aside class="video">VIDEO</aside>
                    <iframe width="300" height="200" src="https://www.youtube.com/embed/tgbNymZ7vqY?autoplay=1">
                        align="right"</iframe>
                        </div>
                        <div class="col-sm-8">
                        
                    </div>
                </div>
            </div>
        </div>
    </article>
</main>
<% include footer %>